<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:if condition="{langFile} == ''">
    <f:variable name="langFile" value="{formConfig.langFileDefault}" />
  </f:if>
  <div class="type-password form-group">
    <input class="form-input" title="{f:translate(key: 'LLL:EXT:formhandler/Resources/Private/Language/{langFile}:{fieldName}_title')}" type="password" value="" id="{formConfig.formValuesPrefix}_{fieldName}" name="{formConfig.formValuesPrefix}{fieldName}" maxlength="{maxlength}" />
    <label for="{formConfig.formValuesPrefix}_{fieldName}"
      ><f:translate key="LLL:EXT:formhandler/Resources/Private/Language/{langFile}:{fieldName}" />
      <f:if condition="{formConfig.fieldsRequired.{fieldName}} == true">
        <f:render partial="Required" />
      </f:if>
    </label>
    <div class="error">{fieldsError.{fieldName}}</div>
  </div>
</html>
