<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <div class="type-text">
    <input name="{formValuesPrefix}{fieldName}" class="form-input" type="text" id="{formValuesPrefix}_{fieldName}" title="{f:translate(key: 'LLL:EXT:formhandler/Resources/Private/Language/locallang_example_form.xlf:{fieldName}_title')}" value="{fieldsValue.{fieldName}}" maxlength="255" />
    <label for="{formValuesPrefix}_{fieldName}"
      ><f:translate key="LLL:EXT:formhandler/Resources/Private/Language/locallang_example_form.xlf:{fieldName}" />
      <f:if condition="{fieldsRequired.{fieldName}} == true">
        <f:render partial="Required" />
      </f:if>
    </label>
    <div class="error">{fieldsError.{fieldName}}</div>
  </div>
</html>
