<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:if condition="{langFile} == ''">
    <f:variable name="langFile" value="{formConfig.langFileDefault}" />
  </f:if>
  <f:variable name="selectedValue" value="{formConfig.fieldsValue.{fieldName}}" />
  <div class="type-select form-group">
    <select class="" title="{f:translate(key: 'LLL:EXT:formhandler/Resources/Private/Language/{langFile}:{fieldName}_title')}" id="{formConfig.formValuesPrefix}_{fieldName}" name="{formConfig.formValuesPrefix}{fieldName}" >
      <option value=""><f:translate key="LLL:EXT:formhandler/Resources/Private/Language/{langFile}:{fieldName}_choose" /></option>
      <f:for each="{formConfig.fieldsSelectOptions.{fieldSelectOptions}}" as="option">
        <option value="{option.value}" {f:if(condition: '{formConfig.formValues.{fieldName}} == {option.value}', then: 'selected', else: '')}>{option.title}</option>
      </f:for>
    </select>
    <label for="{formConfig.formValuesPrefix}_{fieldName}"
      ><f:translate key="LLL:EXT:formhandler/Resources/Private/Language/{langFile}:{fieldName}" /> <f:if condition="{formConfig.fieldsRequired.{fieldName}} == true"> <f:render partial="Required" /> </f:if
    ></label>
    <div class="error">{formConfig.fieldsError.{fieldName}}</div>
  </div>
</html>
